<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Pandas-简介" data-toc-modified-id="Pandas-简介-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Pandas 简介</a></span></li><li><span><a href="#帮助" data-toc-modified-id="帮助-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>帮助</a></span></li><li><span><a href="#Pandas-数据结构" data-toc-modified-id="Pandas-数据结构-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Pandas 数据结构</a></span><ul class="toc-item"><li><span><a href="#序列（Series）" data-toc-modified-id="序列（Series）-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>序列（Series）</a></span></li><li><span><a href="#数据框（DataFrame）" data-toc-modified-id="数据框（DataFrame）-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>数据框（DataFrame）</a></span></li></ul></li><li><span><a href="#文件-I-/-O" data-toc-modified-id="文件-I-/-O-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>文件 I / O</a></span><ul class="toc-item"><li><span><a href="#读写-CSV" data-toc-modified-id="读写-CSV-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>读写 CSV</a></span></li><li><span><a href="#读写-Excel" data-toc-modified-id="读写-Excel-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>读写 Excel</a></span></li><li><span><a href="#读取数据库" data-toc-modified-id="读取数据库-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>读取数据库</a></span></li></ul></li><li><span><a href="#选择" data-toc-modified-id="选择-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>选择</a></span><ul class="toc-item"><li><span><a href="#获取" data-toc-modified-id="获取-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>获取</a></span></li><li><span><a href="#选择，布尔索引-&amp;-设置" data-toc-modified-id="选择，布尔索引-&amp;-设置-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>选择，布尔索引 &amp; 设置</a></span><ul class="toc-item"><li><span><a href="#位置" data-toc-modified-id="位置-5.2.1"><span class="toc-item-num">5.2.1&nbsp;&nbsp;</span>位置</a></span></li><li><span><a href="#标签" data-toc-modified-id="标签-5.2.2"><span class="toc-item-num">5.2.2&nbsp;&nbsp;</span>标签</a></span></li><li><span><a href="#布尔索引" data-toc-modified-id="布尔索引-5.2.3"><span class="toc-item-num">5.2.3&nbsp;&nbsp;</span>布尔索引</a></span></li><li><span><a href="#设置" data-toc-modified-id="设置-5.2.4"><span class="toc-item-num">5.2.4&nbsp;&nbsp;</span>设置</a></span></li></ul></li></ul></li><li><span><a href="#删除（dropping）" data-toc-modified-id="删除（dropping）-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>删除（dropping）</a></span></li><li><span><a href="#排序和排名" data-toc-modified-id="排序和排名-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>排序和排名</a></span></li><li><span><a href="#检索-Series-/-DataFrame-信息" data-toc-modified-id="检索-Series-/-DataFrame-信息-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>检索 Series / DataFrame 信息</a></span><ul class="toc-item"><li><span><a href="#基本信息" data-toc-modified-id="基本信息-8.1"><span class="toc-item-num">8.1&nbsp;&nbsp;</span>基本信息</a></span></li><li><span><a href="#摘要" data-toc-modified-id="摘要-8.2"><span class="toc-item-num">8.2&nbsp;&nbsp;</span>摘要</a></span></li></ul></li><li><span><a href="#应用函数" data-toc-modified-id="应用函数-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>应用函数</a></span></li><li><span><a href="#数据对齐" data-toc-modified-id="数据对齐-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>数据对齐</a></span><ul class="toc-item"><li><span><a href="#内部数据对齐" data-toc-modified-id="内部数据对齐-10.1"><span class="toc-item-num">10.1&nbsp;&nbsp;</span>内部数据对齐</a></span></li><li><span><a href="#填充方法的算术运算" data-toc-modified-id="填充方法的算术运算-10.2"><span class="toc-item-num">10.2&nbsp;&nbsp;</span>填充方法的算术运算</a></span></li></ul></li></ul></div>

## Pandas 简介

![Pandas](https://pandas.pydata.org/_static/pandas_logo.png)

Pandas 库基于 NumPy 构建，为 Python 编程语言提供易于使用的数据结构和数据分析工具。

使用以下约定导入 Pandas

In [1]:
import pandas as pd

## 帮助

In [ ]:
help(pd.Series.loc)

## Pandas 数据结构

### 序列（Series）

能够保存任何数据类型的一维标记数组

In [2]:
s = pd.Series([1, 3, 5, 7], index=['天', '地', '玄', '黄'])

In [3]:
# 左侧一列为索引
s

天    1
地    3
玄    5
黄    7
dtype: int64

### 数据框（DataFrame）

不同类型列的二维标记数据结构，类似 Excel 表格

上面一行为列名

左侧一列为索引

| - | 姓 |  名  | 民族 | 姓别 | 年龄 |
|:-:|:-:|:---:|:---:|:---:|:----:|
| 1 | 贾 | 小武 |  汉  |  男  |  3   |
| 2 | 贾 | 小久 |  汉  |  男  |  1   |
| 3 | 张 | 小鸭 |  汉  |  女  |  -   |

In [4]:
data = {'姓': ['贾', '贾', '张'],
        '名': ['小武', '小久', '小鸭́'],
        '民族': ['汉', '汉', '汉'],
        '年龄': [3, 1, None]}

In [5]:
data

{'姓': ['贾', '贾', '张'],
 '名': ['小武', '小久', '小鸭́'],
 '民族': ['汉', '汉', '汉'],
 '年龄': [3, 1, None]}

In [6]:
df = pd.DataFrame(data, columns=['姓', '名', '年龄'])

In [7]:
df

   姓    名   年龄
0  贾   小武  3.0
1  贾   小久  1.0
2  张  小鸭́  NaN

## 文件 I / O

### 读写 CSV

In [ ]:
pd.read_csv('file.csv', header=None, nrows=5)
df.to_csv('myDataFrame.csv')

### 读写 Excel

In [ ]:
pd.read_excel('file.xlsx')
pd.to_excel('dir/myDataFrame.xlsx', sheet_name='Sheet1')
xlsx = pd.ExcelFile('file.xls')
df = pd.read_excel(xlsx, 'Sheet1')

### 读取数据库

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///:memory:')
pd.read_sql("SELECT * FROM my_table;", engine)
pd.read_sql_table('my_table', engine)
pd.read_sql_query("SELECT * FROM my_table;", engine)

read_sql() 是 read_sql_table() 和 read_sql_query() 的便捷包装器

In [ ]:
pd.to_sql('myDf', engine)

## 选择

### 获取

In [8]:
# 获取 1 个数据
s['天']

1

In [9]:
# 获取 DataFrame 的子集
df[1:]

   姓    名   年龄
1  贾   小久  1.0
2  张  小鸭́  NaN

### 选择，布尔索引 & 设置

#### 位置

按行和列选择单个值

In [10]:
df.iloc[[0], [1]]

    名
0  小武

In [11]:
df.iat[0, 1]

'小武'

#### 标签

按行和列标签选择单个值

In [12]:
df.loc[0, '姓']

'贾'

In [13]:
df.at[0, '姓']

'贾'

#### 布尔索引

In [14]:
s[~(s > 1)]

天    1
dtype: int64

In [15]:
s[(s < -1) | (s > 2)]

地    3
玄    5
黄    7
dtype: int64

In [16]:
df[df['年龄'] > 1]

   姓   名   年龄
0  贾  小武  3.0

#### 设置

将序列 s 的索引 '宇' 设置为 9

In [17]:
s['宇'] = 9
s

天    1
地    3
玄    5
黄    7
宇    9
dtype: int64

## 删除（dropping）

从行中删除值（axis = 0）

In [18]:
s.drop(['天', '地'])

玄    5
黄    7
宇    9
dtype: int64

从列中删除值（axis = 1）

In [19]:
df.drop('姓', axis=1)

     名   年龄
0   小武  3.0
1   小久  1.0
2  小鸭́  NaN

## 排序和排名

按轴标签排序

In [20]:
df.sort_index()

   姓    名   年龄
0  贾   小武  3.0
1  贾   小久  1.0
2  张  小鸭́  NaN

按轴的值排序

In [21]:
df.sort_values(by='年龄')

   姓    名   年龄
1  贾   小久  1.0
0  贾   小武  3.0
2  张  小鸭́  NaN

从小到大排序的下标

In [22]:
df.rank()

     姓    名   年龄
0  2.5  2.0  2.0
1  2.5  1.0  1.0
2  1.0  3.0  NaN

## 检索 Series / DataFrame 信息

### 基本信息

In [23]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
                  index=['cobra', 'viper', 'sidewinder'],
                  columns=['max_speed', 'shield'])

（行，列）

In [24]:
df.shape

(3, 2)

描述索引

In [25]:
df.index

Index(['cobra', 'viper', 'sidewinder'], dtype='object')

描述 DataFrame 列信息

In [26]:
df.columns

Index(['max_speed', 'shield'], dtype='object')

DataFrame 信息

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, cobra to sidewinder
Data columns (total 2 columns):
max_speed    3 non-null int64
shield       3 non-null int64
dtypes: int64(2)
memory usage: 72.0+ bytes

非 NA 值的数量

In [28]:
df.count()

max_speed    3
shield       3
dtype: int64

### 摘要

总和

In [29]:
df.sum()

max_speed    12
shield       15
dtype: int64

累积值

In [30]:
df.cumsum()

            max_speed  shield
cobra               1       2
viper               5       7
sidewinder         12      15

最小值

In [31]:
df.min()

max_speed    1
shield       2
dtype: int64

最大值

In [32]:
df.max()

max_speed    7
shield       8
dtype: int64

最小索引值

In [33]:
df.idxmin()

max_speed    cobra
shield       cobra
dtype: object

最大索引值

In [34]:
df.idxmax()

max_speed    sidewinder
shield       sidewinder
dtype: object

摘要统计

In [35]:
df.describe()

       max_speed  shield
count        3.0     3.0
mean         4.0     5.0
std          3.0     3.0
min          1.0     2.0
25%          2.5     3.5
50%          4.0     5.0
75%          5.5     6.5
max          7.0     8.0

均值

In [36]:
df.mean()

max_speed    4.0
shield       5.0
dtype: float64

中位数

In [37]:
df.median()

max_speed    4.0
shield       5.0
dtype: float64

## 应用函数

In [38]:
f = lambda x: x*2

应用函数

In [39]:
df.apply(f)

            max_speed  shield
cobra               2       4
viper               8      10
sidewinder         14      16

按元素应用函数

In [40]:
df.applymap(f)

            max_speed  shield
cobra               2       4
viper               8      10
sidewinder         14      16

## 数据对齐

### 内部数据对齐

值 NA 在不重叠的索引中引入

In [41]:
s3 = pd.Series([7, -2, 3], index=['玄', '黄', '宇'])

In [42]:
s + s3

地     NaN
天     NaN
宇    12.0
玄    12.0
黄     5.0
dtype: float64

### 填充方法的算术运算

借助填充方法自行完成内部数据对齐

In [43]:
s.add(s3, fill_value=0)

地     3.0
天     1.0
宇    12.0
玄    12.0
黄     5.0
dtype: float64

In [44]:
s.sub(s3, fill_value=2)

地    1.0
天   -1.0
宇    6.0
玄   -2.0
黄    9.0
dtype: float64

In [45]:
s.div(s3, fill_value=4)

地    0.750000
天    0.250000
宇    3.000000
玄    0.714286
黄   -3.500000
dtype: float64

In [46]:
s.mul(s3, fill_value=3)

地     9.0
天     3.0
宇    27.0
玄    35.0
黄   -14.0
dtype: float64